.hero {
  @extend .full-width;
  @extend .flex;

  padding: 0;
  position: relative;

  &__info {
    @extend .flex;
    @extend .flex-column;

    padding: 70px 0 0 70px;
    gap: 30px;

    .position {
      text-transform: uppercase;
      color: #c9c9c9;
      font-size: 30px;
    }

    $textShadow: rgba(0, 189, 189, 0.1);
    .glitch {
      position: relative;
      font-size: 80px;
      font-weight: 800;
      line-height: 1;
      color: #fff;
      letter-spacing: 2px;
      z-index: 1;
      font-family: 'Sora';
      opacity: .9;
      text-shadow: 1px 1px 1px $textShadow,
      2px 1px 1px $textShadow,
      3px 1px 1px $textShadow,
      4px 1px 1px $textShadow,
      5px 1px 1px $textShadow,
      1px 18px 6px rgba(16,16,16,0.4),
      1px 22px 10px rgba(16,16,16,0.2),
      1px 25px 35px rgba(16,16,16,0.2),
      1px 30px 60px rgba(16,16,16,0.4);

      &:before {
        content: 'Mario Jr \ALangomez';
        position: absolute;
        top: 0;
        left: -2px;
        width: 100%;
        color: #fff;
        overflow: hidden;
        clip: rect(0, 900px, 0, 0);
        animation: noise-before 3s infinite linear alternate-reverse;
      }

      &:after {
        content: 'Mario Jr \ALangomez';
        position: absolute;
        top: 0;
        left: 2px;
        width: 100%;
        color: #fff;
        overflow: hidden;
        clip: rect(0, 900px, 0, 0);
        animation: noise-after 2s infinite linear alternate-reverse;
      }
    }

    .bio {
      padding: 10px 30px;
      font-size: 25px;
      color: #c9c9c9;
      border-left: 1px solid #c9c9c9;
      margin-top: 20px;
      margin-left: 10px;
    }
  }
}