@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");
@font-face {
  font-family: "Technica_Regular";
  src: local("Technica_Regular"), url(../fonts/Technica_Regular.ttf) format("truetype");
}
@font-face {
  font-family: "Technica_Semi_Bold";
  src: local("Technica_Semi_Bold"), url(../fonts/Technica_Semi_Bold.ttf) format("truetype");
}
@font-face {
  font-family: "Digital";
  src: local("Digital"), url(../fonts/Digital.ttf) format("truetype");
}
@font-face {
  font-family: "SedanSC_Regular";
  src: local("SedanSC-Regular"), url(../fonts/SedanSC-Regular.ttf) format("truetype");
}
@font-face {
  font-family: "Sora";
  src: local("Sora"), url(../fonts/Sora.ttf) format("truetype");
}
@font-face {
  font-family: "Khand";
  src: local("Khand"), url(../fonts/Khand.ttf) format("truetype");
}
@font-face {
  font-family: "Honk";
  src: local("Honk"), url(../fonts/Honk.ttf) format("truetype");
}
html {
  font-size: 100%;
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
  padding: 0;
  margin: 0;
}

body {
  font-family: Technica_Regular;
}

button, input, select {
  border: none;
  outline: none;
}

a {
  text-decoration: none;
  color: #000;
  height: auto;
}

ul, ol {
  list-style: none;
}

.flex, .modal-container__animation, .app-3d .scene__wall, .app-3d .scene__text, .hero__info, .hero, .theme-default .navigation__indicator, .theme-default .navigation__item, .theme-default .navigation, .theme-default {
  display: flex;
}
.flex-jc-sb {
  justify-content: space-between;
}
.flex-jc-c, .theme-default .navigation__item {
  justify-content: center;
}
.flex-ai-c, .theme-default .navigation__item {
  align-items: center;
}
.flex-ai-sb {
  align-items: space-between;
}
.flex-ai-fs {
  align-items: flex-start;
}
.flex-ai-fe {
  align-items: flex-end;
}
.flex-column, .modal-container__animation, .hero__info, .theme-default .navigation__indicator, .theme-default {
  flex-direction: column;
}
.flex-end {
  justify-content: flex-end;
}

.main-container {
  width: 100vw;
  height: 100vh;
  background: #000;
}

.container, .modal-container, .app-3d__bg, .app-3d, .theme-default, .hexa-bg {
  width: 100%;
  height: 100%;
}

.full-width, .hero, .theme-default .navigation {
  width: 100%;
}

.full-height {
  height: 100%;
}

.full-size, .app-3d .scene__box--front, .app-3d .scene__box--back, .app-3d .scene__box--right, .app-3d .scene__box--left, .app-3d .scene__box--top, .app-3d .scene__box--bottom, .app-3d .scene__stage {
  height: 100%;
  width: 100%;
}

.font-family-bold {
  font-family: Technica_Semi_Bold;
}

.font-family-digital {
  font-family: Digital;
}

.bold, .theme-default .navigation__btn button, .theme-default .navigation__item.active, .theme-default .navigation__item:hover, .theme-default .navigation__item:first-child span i, .theme-default .navigation__item:first-child span, .theme-default .navigation__item:first-child {
  font-weight: 600;
}

.logo-font, .theme-default .navigation__item:first-child {
  font-family: "SedanSC_Regular";
}

.gradient-bg {
  position: fixed;
  width: 100%;
  height: 100%;
  opacity: 0.5;
  background: linear-gradient(to right, rgb(0, 0, 0) 50%, rgba(0, 0, 0, 0)), linear-gradient(to bottom, #1216fa, #bc48ff 60%);
}

.image-bg {
  position: absolute;
  right: 0;
  top: 0;
  height: 85vh;
  width: 70%;
  background-image: url(../images/ai.png);
  box-shadow: 0 0 40px 20px #000 inset;
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.5;
}

.glitch-wrapper {
  width: 100%;
  height: -moz-fit-content;
  height: fit-content;
}

@keyframes jackInTheBox {
  0% {
    opacity: 0;
    transform: scale(0.1) rotate(30deg);
    transform-origin: center bottom;
  }
  50% {
    transform: rotate(-10deg);
  }
  70% {
    transform: rotate(3deg);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}
@keyframes bounceIn {
  0%, 20%, 40%, 60%, 80%, 100% {
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }
  0% {
    opacity: 0;
    transform: scale3d(0.3, 0.3, 0.3);
  }
  20% {
    transform: scale3d(1.1, 1.1, 1.1);
  }
  40% {
    transform: scale3d(0.9, 0.9, 0.9);
  }
  60% {
    opacity: 1;
    transform: scale3d(1.03, 1.03, 1.03);
  }
  80% {
    transform: scale3d(0.97, 0.97, 0.97);
  }
  100% {
    opacity: 1;
    transform: scaleX(1);
  }
}
@keyframes showMonitor {
  from {
    bottom: -145px;
  }
  to {
    bottom: 0;
  }
}
@keyframes hueRotate {
  0% {
    filter: hue-rotate(0deg);
  }
  100% {
    filter: hue-rotate(360deg);
  }
}
@keyframes noise-before {
  0% {
    clip: rect(61px, 9999px, 52px, 0);
  }
  5% {
    clip: rect(33px, 9999px, 144px, 0);
  }
  10% {
    clip: rect(121px, 9999px, 115px, 0);
  }
  15% {
    clip: rect(144px, 9999px, 162px, 0);
  }
  20% {
    clip: rect(62px, 9999px, 180px, 0);
  }
  25% {
    clip: rect(34px, 9999px, 42px, 0);
  }
  30% {
    clip: rect(147px, 9999px, 179px, 0);
  }
  35% {
    clip: rect(99px, 9999px, 63px, 0);
  }
  40% {
    clip: rect(188px, 9999px, 122px, 0);
  }
  45% {
    clip: rect(154px, 9999px, 14px, 0);
  }
  50% {
    clip: rect(63px, 9999px, 37px, 0);
  }
  55% {
    clip: rect(161px, 9999px, 147px, 0);
  }
  60% {
    clip: rect(109px, 9999px, 175px, 0);
  }
  65% {
    clip: rect(157px, 9999px, 88px, 0);
  }
  70% {
    clip: rect(173px, 9999px, 131px, 0);
  }
  75% {
    clip: rect(62px, 9999px, 70px, 0);
  }
  80% {
    clip: rect(24px, 9999px, 153px, 0);
  }
  85% {
    clip: rect(138px, 9999px, 40px, 0);
  }
  90% {
    clip: rect(79px, 9999px, 136px, 0);
  }
  95% {
    clip: rect(25px, 9999px, 34px, 0);
  }
  100% {
    clip: rect(173px, 9999px, 166px, 0);
  }
}
@keyframes noise-after {
  0% {
    clip: rect(26px, 9999px, 33px, 0);
  }
  5% {
    clip: rect(140px, 9999px, 198px, 0);
  }
  10% {
    clip: rect(184px, 9999px, 89px, 0);
  }
  15% {
    clip: rect(121px, 9999px, 6px, 0);
  }
  20% {
    clip: rect(181px, 9999px, 99px, 0);
  }
  25% {
    clip: rect(154px, 9999px, 133px, 0);
  }
  30% {
    clip: rect(134px, 9999px, 169px, 0);
  }
  35% {
    clip: rect(26px, 9999px, 187px, 0);
  }
  40% {
    clip: rect(147px, 9999px, 137px, 0);
  }
  45% {
    clip: rect(31px, 9999px, 52px, 0);
  }
  50% {
    clip: rect(191px, 9999px, 109px, 0);
  }
  55% {
    clip: rect(74px, 9999px, 54px, 0);
  }
  60% {
    clip: rect(145px, 9999px, 75px, 0);
  }
  65% {
    clip: rect(153px, 9999px, 198px, 0);
  }
  70% {
    clip: rect(99px, 9999px, 136px, 0);
  }
  75% {
    clip: rect(118px, 9999px, 192px, 0);
  }
  80% {
    clip: rect(1px, 9999px, 83px, 0);
  }
  85% {
    clip: rect(145px, 9999px, 98px, 0);
  }
  90% {
    clip: rect(121px, 9999px, 154px, 0);
  }
  95% {
    clip: rect(156px, 9999px, 44px, 0);
  }
  100% {
    clip: rect(67px, 9999px, 122px, 0);
  }
}
.hexa-bg {
  position: fixed;
  overflow: hidden;
}
.hexa-bg__cursor {
  position: absolute;
  width: calc(max(3vw, 5vh) * 4);
  height: calc(max(3vw, 5vh) * 4);
  border-radius: 50%;
  animation: hueRotate 2s linear infinite;
  transform: translate(-50%, -50%);
}
.hexa-bg__row {
  display: inline-flex;
  margin-top: calc(max(3vw, 5vh) * -0.32);
  margin-left: calc(max(3vw, 5vh) * -0.5);
  pointer-events: none;
}
.hexa-bg__row:nth-child(even) {
  margin-left: calc(max(3vw, 5vh) * 0.02);
}
.hexa-bg__row--hexagon {
  position: relative;
  width: max(3vw, 5vh);
  height: calc(max(3vw, 5vh) * 1.1);
  margin: calc(max(3vw, 5vh) * 0.04) calc(max(3vw, 5vh) * 0.02);
  -webkit-clip-path: polygon(50% 0, 100% 25%, 100% 75%, 50% 100%, 0 75%, 0 25%);
          clip-path: polygon(50% 0, 100% 25%, 100% 75%, 50% 100%, 0 75%, 0 25%);
  background: black;
}

body:hover .hexa-bg__cursor {
  background: radial-gradient(circle, rgb(0, 255, 0) 0%, rgba(0, 255, 0, 0) 70%);
  visibility: visible;
}

.theme-default {
  position: relative;
  padding: 0 5%;
  position: relative;
}
.theme-default .navigation {
  gap: 30px;
  padding: 10px;
  border: 3px solid #18041F;
  border-radius: 50px;
  margin-top: 30px;
  padding-left: 50px;
  background: rgba(0, 0, 0, 0.3);
  -webkit-backdrop-filter: blur(4px);
  backdrop-filter: blur(4px);
  position: relative;
}
.theme-default .navigation__item {
  color: #fff;
  padding: 0 15px;
  height: 60px;
  font-size: 13px;
  gap: 5px;
  cursor: pointer;
  color: rgba(255, 255, 255, 0.6);
  text-transform: capitalize;
}
.theme-default .navigation__item:not(:first-child) {
  width: 100px;
}
.theme-default .navigation__item:first-child {
  background: none;
  gap: 5px;
  font-size: 35px;
  width: 250px;
  color: #fff;
  margin-right: 30px;
}
.theme-default .navigation__item:first-child span {
  color: #9006B9;
  font-size: 35px;
}
.theme-default .navigation__item:first-child span i {
  pointer-events: none;
}
.theme-default .navigation__item:first-child .glitch-logo {
  position: relative;
  font-size: 30px;
  font-weight: 700;
  color: #fff;
  z-index: 1;
  font-family: "Sora";
}
.theme-default .navigation__item:first-child .glitch-logo:before {
  content: "Mario Jr";
  position: absolute;
  top: 0;
  left: -2px;
  width: 100%;
  color: #fff;
  overflow: hidden;
  clip: rect(0, 900px, 0, 0);
  animation: noise-before 3s infinite linear alternate-reverse;
}
.theme-default .navigation__item:first-child .glitch-logo:after {
  content: "Mario Jr";
  position: absolute;
  top: 0;
  left: 2px;
  width: 100%;
  color: #fff;
  overflow: hidden;
  clip: rect(0, 900px, 0, 0);
  animation: noise-after 2s infinite linear alternate-reverse;
}
.theme-default .navigation__item.active, .theme-default .navigation__item:hover {
  color: #fff;
}
.theme-default .navigation__indicator {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  height: 50px;
  z-index: -1;
  left: 360px;
  overflow: hidden;
}
.theme-default .navigation__indicator div {
  width: 100px;
  height: 2px;
  transition: all 200ms ease-in-out;
}
.theme-default .navigation__indicator div:nth-child(1) {
  background: hsl(280, 90%, 44%);
  opacity: 0.6;
}
.theme-default .navigation__indicator div:nth-child(2) {
  background: hsl(280, 90%, 43%);
  opacity: 0.6;
}
.theme-default .navigation__indicator div:nth-child(3) {
  background: hsl(280, 90%, 42%);
  opacity: 0.6;
}
.theme-default .navigation__indicator div:nth-child(4) {
  background: hsl(280, 90%, 41%);
  opacity: 0.6;
}
.theme-default .navigation__indicator div:nth-child(5) {
  background: hsl(280, 90%, 40%);
  opacity: 0.6;
}
.theme-default .navigation__indicator div:nth-child(6) {
  background: hsl(280, 90%, 39%);
  opacity: 0.6;
}
.theme-default .navigation__indicator div:nth-child(7) {
  background: hsl(280, 90%, 38%);
  opacity: 0.6;
}
.theme-default .navigation__indicator div:nth-child(8) {
  background: hsl(280, 90%, 37%);
  opacity: 0.6;
}
.theme-default .navigation__indicator div:nth-child(9) {
  background: hsl(280, 90%, 36%);
  opacity: 0.6;
}
.theme-default .navigation__indicator div:nth-child(10) {
  background: hsl(280, 90%, 35%);
  opacity: 0.6;
}
.theme-default .navigation__indicator div:nth-child(11) {
  background: hsl(280, 90%, 34%);
  opacity: 0.6;
}
.theme-default .navigation__indicator div:nth-child(12) {
  background: hsl(280, 90%, 33%);
  opacity: 0.6;
}
.theme-default .navigation__indicator div:nth-child(13) {
  background: hsl(280, 90%, 32%);
  opacity: 0.6;
}
.theme-default .navigation__indicator div:nth-child(14) {
  background: hsl(280, 90%, 31%);
  opacity: 0.6;
}
.theme-default .navigation__indicator div:nth-child(15) {
  background: hsl(280, 90%, 30%);
  opacity: 0.6;
}
.theme-default .navigation__indicator div:nth-child(16) {
  background: hsl(280, 90%, 29%);
  opacity: 0.6;
}
.theme-default .navigation__indicator div:nth-child(17) {
  background: hsl(280, 90%, 28%);
  opacity: 0.6;
}
.theme-default .navigation__indicator div:nth-child(18) {
  background: hsl(280, 90%, 27%);
  opacity: 0.6;
}
.theme-default .navigation__indicator div:nth-child(19) {
  background: hsl(280, 90%, 26%);
  opacity: 0.6;
}
.theme-default .navigation__indicator div:nth-child(20) {
  background: hsl(280, 90%, 25%);
  opacity: 0.6;
}
.theme-default .navigation__indicator div:nth-child(21) {
  background: hsl(280, 90%, 24%);
  opacity: 0.6;
}
.theme-default .navigation__indicator div:nth-child(22) {
  background: hsl(280, 90%, 23%);
  opacity: 0.6;
}
.theme-default .navigation__indicator div:nth-child(23) {
  background: hsl(280, 90%, 22%);
  opacity: 0.6;
}
.theme-default .navigation__indicator div:nth-child(24) {
  background: hsl(280, 90%, 21%);
  opacity: 0.6;
}
.theme-default .navigation__indicator div:nth-child(25) {
  background: hsl(280, 90%, 20%);
  opacity: 0.6;
}
.theme-default .navigation__indicator div:first-child {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}
.theme-default .navigation__btn {
  flex: 1;
  text-align: right;
}
.theme-default .navigation__btn button {
  padding: 0 40px;
  height: 100%;
  font-size: 15px;
  cursor: pointer;
  border-radius: 40px;
  background: linear-gradient(to top, hsl(280, 90%, 20%), hsl(280, 90%, 44%));
  opacity: 0.6;
  color: #fff;
  text-transform: uppercase;
}
.theme-default .navigation__btn button:hover {
  opacity: 0.8;
}

.hero {
  padding: 0;
  position: relative;
}
.hero__info {
  padding: 70px 0 0 70px;
  gap: 30px;
}
.hero__info .position {
  text-transform: uppercase;
  color: #c9c9c9;
  font-size: 30px;
}
.hero__info .glitch {
  position: relative;
  font-size: 80px;
  font-weight: 800;
  line-height: 1;
  color: #fff;
  letter-spacing: 2px;
  z-index: 1;
  font-family: "Sora";
  opacity: 0.9;
  text-shadow: 1px 1px 1px rgba(0, 189, 189, 0.1), 2px 1px 1px rgba(0, 189, 189, 0.1), 3px 1px 1px rgba(0, 189, 189, 0.1), 4px 1px 1px rgba(0, 189, 189, 0.1), 5px 1px 1px rgba(0, 189, 189, 0.1), 1px 18px 6px rgba(16, 16, 16, 0.4), 1px 22px 10px rgba(16, 16, 16, 0.2), 1px 25px 35px rgba(16, 16, 16, 0.2), 1px 30px 60px rgba(16, 16, 16, 0.4);
}
.hero__info .glitch:before {
  content: "Mario Jr \aLangomez";
  position: absolute;
  top: 0;
  left: -2px;
  width: 100%;
  color: #fff;
  overflow: hidden;
  clip: rect(0, 900px, 0, 0);
  animation: noise-before 3s infinite linear alternate-reverse;
}
.hero__info .glitch:after {
  content: "Mario Jr \aLangomez";
  position: absolute;
  top: 0;
  left: 2px;
  width: 100%;
  color: #fff;
  overflow: hidden;
  clip: rect(0, 900px, 0, 0);
  animation: noise-after 2s infinite linear alternate-reverse;
}
.hero__info .bio {
  padding: 10px 30px;
  font-size: 25px;
  color: #c9c9c9;
  border-left: 1px solid #c9c9c9;
  margin-top: 20px;
  margin-left: 10px;
}

.app-3d {
  overflow: hidden;
  display: grid;
  place-items: center;
}
.app-3d__bg {
  position: fixed;
  opacity: 0.3;
}
.app-3d .scene {
  width: 1200px;
  height: 650px;
  perspective: 2000px;
  perspective-origin: 50% calc(50% - 2em);
  opacity: 0.8;
}
.app-3d .scene__floor {
  position: absolute;
  left: 50%;
  transform: translateX(-50%) rotateX(85deg) translateZ(-250px) scaleX(2) scaleY(2.5);
  width: 1000px;
  height: 1000px;
  transform-style: preserve-3d;
  overflow: hidden;
  box-shadow: inset 20px 20px 50px rgb(0, 0, 0);
  border: 3px solid rgba(0, 189, 189, 0.5);
  background: rgba(0, 0, 0, 0.6);
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px);
}
.app-3d .scene__stage {
  position: relative;
  transform-style: preserve-3d;
  transform: rotateX(85deg) translateZ(-340px);
}
.app-3d .scene__stage--base {
  position: absolute;
  inset: 0;
  background: #000;
  box-shadow: 3px 3px 5px rgba(0, 189, 189, 0.5);
  border: 1px solid rgba(0, 189, 189, 0.5);
  background: radial-gradient(circle, hsl(195, 51%, 13%) 10%, #000 80%);
}
.app-3d .scene__stage--base:nth-child(1) {
  transform: translateZ(1px);
}
.app-3d .scene__stage--base:nth-child(2) {
  transform: translateZ(2px);
}
.app-3d .scene__stage--base:nth-child(3) {
  transform: translateZ(3px);
}
.app-3d .scene__stage--base:nth-child(4) {
  transform: translateZ(4px);
}
.app-3d .scene__stage--base:nth-child(5) {
  transform: translateZ(5px);
}
.app-3d .scene__stage--base:nth-child(6) {
  transform: translateZ(6px);
}
.app-3d .scene__stage--base:nth-child(7) {
  transform: translateZ(7px);
}
.app-3d .scene__stage--base:nth-child(8) {
  transform: translateZ(8px);
}
.app-3d .scene__stage--base:nth-child(9) {
  transform: translateZ(9px);
}
.app-3d .scene__stage--base:nth-child(10) {
  transform: translateZ(10px);
}
.app-3d .scene__stage--base:nth-child(11) {
  transform: translateZ(11px);
}
.app-3d .scene__stage--base:nth-child(12) {
  transform: translateZ(12px);
}
.app-3d .scene__stage--base:nth-child(13) {
  transform: translateZ(13px);
}
.app-3d .scene__stage--base:nth-child(14) {
  transform: translateZ(14px);
}
.app-3d .scene__stage--base:nth-child(15) {
  transform: translateZ(15px);
}
.app-3d .scene__stage--base:nth-child(16) {
  transform: translateZ(16px);
}
.app-3d .scene__stage--base:nth-child(17) {
  transform: translateZ(17px);
}
.app-3d .scene__stage--base:nth-child(18) {
  transform: translateZ(18px);
}
.app-3d .scene__stage--base:nth-child(19) {
  transform: translateZ(19px);
}
.app-3d .scene__stage--base:nth-child(20) {
  transform: translateZ(20px);
}
.app-3d .scene__stage--base:nth-child(21) {
  transform: translateZ(21px);
}
.app-3d .scene__stage--base:nth-child(22) {
  transform: translateZ(22px);
}
.app-3d .scene__stage--base:nth-child(23) {
  transform: translateZ(23px);
}
.app-3d .scene__stage--base:nth-child(24) {
  transform: translateZ(24px);
}
.app-3d .scene__stage--base:nth-child(25) {
  transform: translateZ(25px);
}
.app-3d .scene__stage--base:nth-child(26) {
  transform: translateZ(26px) scale(0.8);
}
.app-3d .scene__stage--base:nth-child(27) {
  transform: translateZ(27px) scale(0.8);
}
.app-3d .scene__stage--base:nth-child(28) {
  transform: translateZ(28px) scale(0.8);
}
.app-3d .scene__stage--base:nth-child(29) {
  transform: translateZ(29px) scale(0.8);
}
.app-3d .scene__stage--base:nth-child(30) {
  transform: translateZ(30px) scale(0.8);
}
.app-3d .scene__stage--base:nth-child(31) {
  transform: translateZ(31px) scale(0.8);
}
.app-3d .scene__stage--base:nth-child(32) {
  transform: translateZ(32px) scale(0.8);
}
.app-3d .scene__stage--base:nth-child(33) {
  transform: translateZ(33px) scale(0.8);
}
.app-3d .scene__stage--base:nth-child(34) {
  transform: translateZ(34px) scale(0.8);
}
.app-3d .scene__stage--base:nth-child(35) {
  transform: translateZ(35px) scale(0.8);
}
.app-3d .scene__stage--base:nth-child(36) {
  transform: translateZ(36px) scale(0.8);
}
.app-3d .scene__stage--base:nth-child(37) {
  transform: translateZ(37px) scale(0.8);
}
.app-3d .scene__stage--base:nth-child(38) {
  transform: translateZ(38px) scale(0.8);
}
.app-3d .scene__stage--base:nth-child(39) {
  transform: translateZ(39px) scale(0.8);
}
.app-3d .scene__stage--base:nth-child(40) {
  transform: translateZ(40px) scale(0.8);
}
.app-3d .scene__stage--base:nth-child(41) {
  transform: translateZ(41px) scale(0.8);
}
.app-3d .scene__stage--base:nth-child(42) {
  transform: translateZ(42px) scale(0.8);
}
.app-3d .scene__stage--base:nth-child(43) {
  transform: translateZ(43px) scale(0.8);
}
.app-3d .scene__stage--base:nth-child(44) {
  transform: translateZ(44px) scale(0.8);
}
.app-3d .scene__stage--base:nth-child(45) {
  transform: translateZ(45px) scale(0.8);
}
.app-3d .scene__stage--base:nth-child(46) {
  transform: translateZ(46px) scale(0.8);
}
.app-3d .scene__stage--base:nth-child(47) {
  transform: translateZ(47px) scale(0.8);
}
.app-3d .scene__stage--base:nth-child(48) {
  transform: translateZ(48px) scale(0.8);
}
.app-3d .scene__stage--base:nth-child(49) {
  transform: translateZ(49px) scale(0.8);
}
.app-3d .scene__stage--base:nth-child(50) {
  transform: translateZ(50px) scale(0.8);
}
.app-3d .scene__stage--base:nth-child(25), .app-3d .scene__stage--base:last-child {
  box-shadow: 3px 3px 10px rgba(0, 189, 189, 0.5), inset 3px 3px 10px rgba(0, 189, 189, 0.5);
}
.app-3d .scene__stage--base:nth-child(25):before, .app-3d .scene__stage--base:last-child:before {
  content: "";
  position: absolute;
  inset: 0;
  border: 10px dashed rgba(0, 189, 189, 0.3);
  transform: scale(0.98);
}
.app-3d .scene__stage--base:nth-child(25):after, .app-3d .scene__stage--base:last-child:after {
  content: "";
  position: absolute;
  inset: 0;
  background: #000;
  transform: scaleY(0.2) scaleX(0.6);
  border: 1px solid rgba(0, 189, 189, 0.5);
}
.app-3d .scene__stage--base:first-child {
  background: rgba(0, 0, 0, 0.3);
  transform: scale(1.15);
  -webkit-backdrop-filter: blur(15px);
  backdrop-filter: blur(15px);
  border: none;
  box-shadow: none;
}
.app-3d .scene__text {
  gap: 10px;
  position: absolute;
  bottom: 40px;
  left: 50%;
  transform: translateX(-50%);
  font-family: "Khand";
  font-weight: 800;
  height: 80px;
  overflow: hidden;
}
.app-3d .scene__text .glitch-wrapper {
  position: relative;
  height: 80px;
  width: 100%;
  padding: 0 30px;
  box-shadow: inset 3px 3px 10px rgb(0, 189, 189);
  border: 3px solid rgba(255, 255, 255, 0.7);
  border-bottom: none;
  background: rgba(0, 0, 0, 0.5);
  opacity: 0.5;
  transition: all 200ms ease-in-out;
  bottom: 0;
  cursor: pointer;
  animation: showMonitor 2s ease-in-out;
}
.app-3d .scene__text .glitch-wrapper:hover {
  bottom: -10px;
  opacity: 0.8;
}
.app-3d .scene__text .glitch {
  position: relative;
  font-size: 40px;
  font-weight: 800;
  line-height: 1;
  color: #fff;
  letter-spacing: 2px;
  z-index: 1;
  top: 50%;
  transform: translateY(-50%);
  font-family: "Khand";
  text-shadow: 1px 1px 1px rgba(0, 189, 189, 0.1), 2px 1px 1px rgba(0, 189, 189, 0.1), 3px 1px 1px rgba(0, 189, 189, 0.1), 4px 1px 1px rgba(0, 189, 189, 0.1), 5px 1px 1px rgba(0, 189, 189, 0.1), 1px 18px 6px rgba(16, 16, 16, 0.4), 1px 22px 10px rgba(16, 16, 16, 0.2), 1px 25px 35px rgba(16, 16, 16, 0.2), 1px 30px 60px rgba(16, 16, 16, 0.4);
}
.app-3d .scene__text .glitch:before {
  content: attr(data-glitch);
  position: absolute;
  top: 0;
  left: -2px;
  width: 100%;
  color: #fff;
  overflow: hidden;
  clip: rect(0, 900px, 0, 0);
  animation: noise-before 3s infinite linear alternate-reverse;
}
.app-3d .scene__text .glitch:after {
  content: attr(data-glitch);
  position: absolute;
  top: 0;
  left: 2px;
  width: 100%;
  color: #fff;
  overflow: hidden;
  clip: rect(0, 900px, 0, 0);
  animation: noise-after 2s infinite linear alternate-reverse;
}
.app-3d .scene__wall {
  width: 100%;
  gap: 10px;
  height: 550px;
  position: absolute;
  top: -60px;
  left: 50%;
  transform: translateX(-50%);
  transform-style: preserve-3d;
  border: 2px solid rgba(0, 189, 189, 0.5);
  border-radius: 15px;
  box-shadow: 5px 5px 20px rgba(0, 189, 189, 0.5);
  overflow: hidden;
}
.app-3d .scene__wall img {
  position: absolute;
  width: 100%;
}
.app-3d .scene__box {
  width: 200px;
  height: 200px;
  position: relative;
  transform-style: preserve-3d;
  top: -350px;
  left: 50%;
  transform: translateX(-50%) scale(0.7) rotateX(70deg) rotateZ(45deg);
  transition: all 250ms ease-in-out;
}
.app-3d .scene__box--front, .app-3d .scene__box--back, .app-3d .scene__box--right, .app-3d .scene__box--left, .app-3d .scene__box--top, .app-3d .scene__box--bottom {
  position: absolute;
  background: hsla(184, 71%, 31%, 0.5);
  box-shadow: inset 10px 10px 30px rgba(0, 0, 0, 0.5);
  transition: all 250ms ease-in-out;
}
.app-3d .scene__box--front {
  transform: translateZ(100px);
}
.app-3d .scene__box--back {
  transform: translateZ(-100px);
}
.app-3d .scene__box--right {
  transform: translateX(100px) rotateY(90deg);
}
.app-3d .scene__box--left {
  transform: translateX(-100px) rotateY(-90deg);
}
.app-3d .scene__box--top {
  transform: translateY(100px) rotateX(90deg);
}
.app-3d .scene__box--bottom {
  transform: translateY(-100px) rotateX(-90deg);
}

.modal-container {
  position: fixed;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.5);
  z-index: 100;
  display: grid;
  place-items: center;
}
.modal-container__panel {
  width: 70%;
  height: 90%;
  background: rgba(0, 189, 189, 0.3);
  border: 2px solid rgba(0, 189, 189, 0.5);
  position: relative;
  box-shadow: 5px 5px 20px rgba(0, 189, 189, 0.3);
  display: none;
}
.modal-container__panel:before {
  content: "";
  position: absolute;
  inset: 0;
  transform: scaleY(0.95) scaleX(0.98);
  border: 5px dashed rgba(0, 189, 189, 0.5);
}
.modal-container__animation {
  position: absolute;
  width: 100%;
  height: 90%;
  top: 50%;
  transform: translateY(-50%);
}
.modal-container__animation--item {
  width: 70%;
  height: 0.5%;
  background: rgba(0, 189, 189, 0.3);
  margin-left: -70%;
  transition: all 500ms ease-in-out;
}/*# sourceMappingURL=style.css.map */